*{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --size: 80vmin;
    --ring_color: #3a4a6c;
    --bg: radial-gradient(#3c4a6c, #161729);
    --star1: linear-gradient(0deg, rgba(255,252,0,1) 10%, rgba(255,154,0,1) 40%, rgba(255,154,0,1) 60%, rgba(255,252,0,1) 90%);
    --color1: #c76e2a;
    --color2: radial-gradient(circle at 100%, #c76e2a, #c76e2a 50%, #894b1c 75%, #894b1c 75%);
}
.field{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: var(--bg);
    transition: all .3 linear;
}
.stars{
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #bde7ff;
    background: #bde7ff;
    transition: all .3 linear;
}
.type{
    border-radius: 50%;
    position: absolute;
    translate: -50% -50%;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.type1{
    background: var(--color2);
}
.type2{
    background: var(--color2);
}
.type3{
    background: var(--color2);
}
.type4{
    background: var(--color2);
}
.type5{
    background: var(--color2);
}

.type1:hover::after, .type2:hover::after, .type3:hover::after, .type4:hover::after, .type5:hover::after{
    width: auto;
    height: 20px;
    position: absolute;
    top: -110%;
    left: 50%;
    translate: -50% 0%;
    content: attr(data-title);
    color: #fff;
    font-family: 'Inter', sans-serif;
    letter-spacing: .1em;
}
.star1{
    border-radius: 50%;
    position: relative;
    background: var(--star1);
    box-shadow: 0px 0px 20px rgba(255,252,0,1);
}
.ring{
    border-radius: 50%;
    border: 1px solid var(--ring_color);
    background: transparent;
    position: absolute;
    translate: -50% -50%;
}
