*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root{
    --ring_color: #3a4a6c;
    --stars: #bde7ff;
    --bg: radial-gradient(#3c4a6c, #161729);
    --star1: linear-gradient(0deg, rgba(255,252,0,1) 10%, rgba(255,154,0,1) 40%, rgba(255,154,0,1) 60%, rgba(255,252,0,1) 90%);
    --color1: radial-gradient(circle at 100%, #b5e3e3, #b5e3e3 50%, #8baeae 75%, #8baeae 75%);
    --color2: radial-gradient(circle at 100%, #c76e2a, #c76e2a 50%, #894b1c 75%, #894b1c 75%);
    --color3: radial-gradient(circle at 100%, #175793, #175793 50%, #104472 75%, #104472 75%);
    --color4: radial-gradient(circle at 100%, #d83a1e, #d83a1e 50%, #9b2b19 75%, #9b2b19 75%);    
    --color5: radial-gradient(circle at 100%, #beb768, #beb768 50%, #8e894e 75%, #8e894e 75%);
}
.field{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: var(--bg);
}
.stars{
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 0px 5px var(--stars);
    background: var(--stars);
}
.type{
    border-radius: 50%;
    position: absolute;
    translate: -50% -50%;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 10;
}
.type1{
    background: var(--color2);
}
.type2{
    background: var(--color1);
}
.type3{
    background: var(--color3);
}
.type4{
    background: var(--color4);
}
.type5{
    background: var(--color5);
}
.type1:hover::after, .type2:hover::after, .type3:hover::after, .type4:hover::after, .type5:hover::after{
    width: auto;
    height: 20px;
    position: absolute;
    top: -110%;
    left: 50%;
    translate: -50% 0%;
    content: attr(data-title);
    color: #fff;
    font-family: 'Inter', sans-serif;
    letter-spacing: .1em;
}
.star1{
    border-radius: 50%;
    position: absolute;
    background: var(--star1);
    box-shadow: 0px 0px 20px rgba(255,252,0,1);
    z-index: 10;
    transition: all .5 linear;
}
.ring{
    border-radius: 50%;
    border: 1px solid var(--ring_color);
    background: transparent;
    position: absolute;
    translate: -50% -50%;
    z-index: 10;
    opacity: .5;
}
.cometa{
    border-radius: 50%;
    background: var(--stars);
    position: absolute;
    box-shadow: 0px 0px 5px var(--stars);
    transition: all .5s cubic-bezier(0.39, 0.575, 0.565, 1);
}